<div class="mt-2">

  <a id="" routerLink="/project" class="switcher-button my-3 btn btn-info">BACK</a>
  <a class="switcher-button btn btn-info ml-5" routerLink="/line-chart">LINE CHART</a>  <br> <hr>

  <div id="tagsList">

    <ol>
      <li *ngFor="let tag of tagsList">{{ tag }}</li>
    </ol>

  </div>




  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>

  <br> <hr>

  <div id="table-div">

    <app-tables></app-tables>

  </div>

</div>
